<header>
  <div class="header-container">
    <div class="logo_slogan">
      <a href="/welcome">
        <img src="/assets/images/logo.png" alt="Logo Big Boss" />
      </a>
	  {# <p>Big Boss, Best employees 🏆</p> #}
    </div>
    <nav>
      <ul>
        {% if boss %}
          <li>
            <a class="logout" href="/logout">Déconnexion</a>
          </li>
        {% elseif employee %}
          <li>
            <a class="logout" href="/logout-employee">Déconnexion</a>
          </li>
        {% else %}
          {% if currentUrl == '/login' %}
            <li>
              <a class="btn-boss-nav" href="/register">Inscription Employeur</a>
            </li>
            <li>
              <a class="btn-employee-nav" href="/login-employee">Connexion Employé(e)</a>
            </li>
          {% elseif currentUrl == '/login-employee' %}
            <li>
              <a class="btn-boss-nav" href="/login">Connexion Employeur</a>
            </li>
          {% elseif currentUrl =='/register' %}
            <li>
              <a class="btn-boss-nav" href="/login">Connexion Employeur</a>
            </li>
            <li>
              <a class="btn-employee-nav" href="/login-employee">Connexion Employé(e)</a>
            </li>
          {% else %}
          <li>
              <a class="btn-boss-nav" href="/login">Inscription Employeur</a>
            </li>
            <li>
              <a class="btn-boss-nav" href="/login">Connexion Employeur</a>
            </li>
            <li>
              <a class="btn-employee-nav" href="/login-employee">Connexion Employé(e)</a>
            </li>
          {% endif %}
        {% endif %}
      </ul>
    </nav>
  </div>
</header>

